on post-fs-data
    chown system system /sys/bus/i2c/drivers/awinic_haptic/1-005a/f0_save
    chown system system /sys/bus/i2c/drivers/awinic_haptic/1-005a/osc_save
    chown system system /sys/bus/i2c/drivers/awinic_haptic/1-005a/custom_wave
    chmod 0666  /sys/bus/i2c/drivers/awinic_haptic/1-005a/custom_wave

service vibratorfeature-hal-service /odm/bin/hw/vendor.xiaomi.hardware.vibratorfeature.service
    class hal
    user system
    group system input
    onrestart restart vibratorfeature

